<!-- ko foreach: messages -->
    <div data-bind="attr: {class: 'message message-' + $data.type + ($data.visible() ? ' show' : ' hide')}">
        <span data-bind="text: $data.message"></span>
        <!-- ko if: $parent.settings.delay -->
        <div class="message-progress-container">
            <div class="message-progress" data-bind="style: { 'animation-duration':  $parent.settings.delay + 'ms' }"></div>
        </div>
        <!-- /ko -->
        <span class="message-close" data-bind="click: $parent.removeMessage.bind($parent, $data)"></span>
    </div>
<!-- /ko -->
