<?xml version="1.0"?>
<!--
/**
 * Copyright © Ronangr1, All rights reserved.
 * See LICENSE bundled with this library for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Message\ManagerInterface">
        <plugin name="ronangr1_message_manager_plugin" type="Ronangr1\FlashMessages\Plugin\MessageManager" />
    </type>
    <preference for="Ronangr1\FlashMessages\Model\FlashInterface" type="Ronangr1\FlashMessages\Model\Flash" />
</config>
