<?xml version="1.0"?>
<!--
/**
 * Copyright © Ronangr1, All rights reserved.
 * See LICENSE bundled with this library for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ronangr1" sortOrder="999" translate="label">
            <label>Ronangr1</label>
        </tab>
        <section id="flash_messages" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
            <label>Flash Messages</label>
            <tab>ronangr1</tab>
            <resource>Ronangr1_FlashMessages::config_system</resource>
            <group id="general" translate="label comment" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="is_active_frontend" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Frontend</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>flash_messages/general/is_active_frontend</config_path>
                </field>
                <field id="is_active_admin" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Admin</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>flash_messages/general/is_active_admin</config_path>
                </field>
            </group>
            <group id="settings" translate="label comment" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Settings</label>
                <field id="auto_hide" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Auto Hide</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>flash_messages/settings/auto_hide</config_path>
                </field>
                <field id="delay" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Delay</label>
                    <config_path>flash_messages/settings/delay</config_path>
                </field>
                <field id="position" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Position</label>
                    <source_model>Ronangr1\FlashMessages\Model\Config\Source\Position</source_model>
                    <config_path>flash_messages/settings/position</config_path>
                </field>
            </group>
        </section>
    </system>
</config>
